
<div class="container-fluid">
    <h2 class="mainHeaderText">Welcome to My Blog!</h2>

    <div class="card-deck">
      <div class="card" (click)="create()">
        <div class="card-body text-center">
          <p class="card-text">Create Blog</p>
        </div>
      </div>
      <div class="card" (click)="update()">
        <div class="card-body text-center">
          <p class="card-text">Update Blog</p>
        </div>
      </div>
      <div class="card" (click)="read()">
        <div class="card-body text-center">
          <p class="card-text">Explore Existing Content</p>
        </div>
      </div>
      <!-- <div class="card">
        <div class="card-body text-center">
          <p class="card-text">Some text inside the fourth card</p>
        </div>
      </div> -->
    </div>


    <!-- <div class="card">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h3 class="headerText">The List Shows Latest Blogs! Click to Read...</h3>
        <div class="listBody">
            <ol>
                <li><a [routerLink]="['/blogs']">Must Visit Places</a></li>
                <li>famouse Restaurants in Bengaluru</li>
                <li>Must Visit Places</li>
                <li>Must Visit Places</li>
                <li>Must Visit Places</li>
            </ol>
        </div>
      </div> 
      <div class="card-footer">Footer</div>
    </div> -->
</div>
